/* FOOTER */
.bg-footer {
    background-color: #4a4542;
}

.footer-links li {
    margin-bottom: 6px;
    cursor: pointer;
}

.footer-links li:hover {
    opacity: 0.8;
}

.footer-underline li {
    text-decoration: underline;
}

.footer-social svg {
    font-size: 18px;
    cursor: pointer;
}

.footer-social svg:hover {
    opacity: 0.7;
}

.footer-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
}

.footer-input::placeholder {
    color: #ccc;
}

.footer-input:focus {
    background: transparent;
    box-shadow: none;
    border-color: #fff;
    color: #fff;
}

.footer-btn {
    background-color: #d6d3d2;
    color: #333;
    border: none;
    padding: 10px;
}

.footer-btn:hover {
    background-color: #c9c6c5;
}